:root {
    --color-white: #fff;
    --color-dark1: #272727;
    --color-dark2: #2d2d2d;
    --color-dark3: #414141;
    --color-dark4: #1c1c1c;
    --color-dark5: #343434;
    --color-purple: #b040ff;
}

* {
    margin: 0;
    padding: 0;
}

.header {
    background-color: var(--color-dark4);
    height: 60px;
}

.header,
.navigation_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}


.navigation_header li a {
    color: var(--color-white);
    text-decoration: none;
    padding: 5px 10px;
    display: block;
}

.navigation_header li a:hover{
    background-color: #000000;
    color: #fff;
    text-shadow: 0px 0px 5px #fff;
}

.navigation_header li ul {
    position: absolute;
    top: 25px;
    left: 60%;
    background-color: #fff;
    display: none;
}

.navigation_header li:hover ul, .navigation_header li.over ul {
    display: block;
}

.navigation_header li ul li {
    border: 1px solid #2d2d2d;
    display: block;
    width: 150px;
}

.active {
    background-color: var(--color-dark3);
    padding: 10px;
    border-radius: 10px;
}

.btn_icon_header {
    display: none;
    background-color: transparent;
    border: none;
    color: var(--color-white);
    cursor: pointer;
}


@media screen and (max-width: 768px) {

    .btn_icon_header {
        display: block;
    }
    
    .navigation_header {
        position: absolute;
        flex-direction: column;
        border: 1px solid red;
        top: 0;
        left: 0;
        background-color: var(--color-purple);
        height: 100%;
        width: 50%;
        padding: 1em;
        animation-duration: 1s;
        margin-left: -100vw;
    }

    .navigation_header li {
        margin-left: 30px;
    }
}

@keyframes showSidebar {
    from {margin-right: 100vw;}

    to {margin-left: -10vw;}
}

